@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
:root{
  --redColor: rgb(182, 36, 0);
  --animationDuration: .2s;
}
body{
  width:100vw;
  height:100vh;
  color:black;
  overflow:hidden;
}
*{
  /* border: 1px solid darkgreen; */
  padding:0;
  margin:0;
}
.App {
  text-align: center;
  align-items: center;
  flex-wrap:wrap;
  color:white;
  background-color: black;
  width:100vw;
  height:100vh;
  justify-content: center;
  flex-direction:column;
}
.app{
  position:absolute;
  top:0;
  left:0;
  text-align: center;
  align-items: center;
  flex-wrap:wrap;
  color:white;
  background-color: black;
  width:100vw;
  height:100vh;
  justify-content: center;
  flex-direction:column;
}
.wide-box{
  width: 100%;
  margin: 1vh 0;
  display:flex;
  align-items: center;
  padding-left:30vw;
}
i{
  height:100%;
  margin:0;
}
i.oranger{
  color:var(--redColor);
}
p{
  height:100%;
  margin:0;
  padding-left: 1vw;
  display:flex;
  align-items: center;
}


.white-line{
  border-top: 5px solid white;
  width: 100%;
  margin: 0 auto;
  color: white;
  font-size: medium;
  display:flex;
  justify-content: flex-end;
  position:relative;
  left:0;
  bottom:16%;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-style:italic;
}
.header{
  font-family: 'Train One', cursive;
  width: 100%;
  height:30vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  color: var(--redColor);
  font-size:22vh;
  margin-bottom: 2vh;
}
.header-center-box{
  display: flex;
  justify-content: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit!important;
}
.galeria{
  color:blue;
}
.galeria:focus, .galeria:hover, .galeria:active {
  color:white;
  cursor: pointer;
}
.forPics{
  width:100vw;
  height:100vh;
  overflow:hidden;
  overflow-y:auto;
  padding-bottom: 3vh;
}
.pictures{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  align-items: center;
  position: absolute;
  width: 100vw;
}

.powrot{
  font-size: large;
  padding: 2vh;
  cursor: pointer;
  width:100vw;
}
.picture{
  max-width:45vw;
  max-height:45vh;
  margin:.8vh;
}
@media (max-aspect-ratio: 1.1/1) and (min-aspect-ratio:1/100){
  .wide-box{
    padding-left:13vw;
  }
  .picture{
    max-width:90vw;
  }
}